body {
	/*	background:linear-gradient(royalblue 31.7%,#f2d027 55.7%,dimgrey 12.6%)*/
	/*background:linear-gradient(royalblue 31.6%,#f2d027 30%);*/
	



  	/*rgba(65, 105, 225, 1) 0%,
  	 rgba(242, 201, 3, 1) 35%,
  	 rgba(105, 105, 105, 1) 100%)*/
	/*background-color: #f2d027;*/ 
	/*background-image: url('bg3.jpg');*/

}

/* topo */

/*.box {
	width: 1140px;
	margin: 0 auto;

}*/

header {
	background-color: royalblue;
	padding: 20px;
	text-align: center;
	/*margin-left: -105px;
	margin-right: -104px;*/
}

header div h1 {
	display: inline-block;
	/*margin-left: 460px;*/
}

h1 img {
	width: 250px;
	transition: 0.8s;
}

h1 img:hover{
	border: 0.1px outset #f2d027;
	border-radius: 10px;
}


/* cabeçario */


nav {
	display: inline-block;
	padding: 20px;
	margin-left: 450px;
	margin-top: 10px;
	vertical-align: top;
	position: static;
	/*margin-left: 150px;*/
	text-align: right;
}

.registro {
	display: inline-block;
	margin: 10px;
	padding-top: 3px;
	border: 2px outset royalblue;
	border-radius: 10px;
}

.registro a {
	color: #f2d027;
	font-size: 18px;
	font-family: fantasy;
	text-decoration: none;
	padding: 10px;
	transition: 0.5s;


}
.registro a:hover {
	font-size: 20px;
}


/* meio*/

main {
	background-color: #f2d027;
	padding: 30px;
	/*margin-left: -105px;
	margin-right: -104px;*/
}
.topic {
	display: block;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	padding: 20px;
	font-family: serif;
	
}

.content {
	font-size: 20px;
	font-family: fantasy;
	font-style: italic;
}

.time {
	margin-left: 20px;
	font-size: 20px;
	font-family: serif;
	padding-top: 10px;

}

.dev {
	padding-top: 15px;
	/*padding-left: 15px;*/
	display: block;
	position: relative;
	width: 250px;
	margin: 0 auto;
	transition: 0.9s;
	
}

.dev:hover {
	transform: translate(5px);
}

.icones {
	margin-top: 10px;
	margin-right: 25px;
	text-align: center;
}
.ico {
	display: inline-block;
	padding: 10px;
}
.ico a img {
	padding: 5px;
	width: 30px;
	transition: 0.5s;
}

#insta img:hover {
	border: 0.5px outset #d726e0;
	border-radius: 10px;

}

#wpp img:hover {
	border: 0.5px inset limegreen;
	border-radius: 10px;
}

#fc img:hover {
	border: 0.5px outset royalblue;
	border-radius: 10px;

}

/* rodapé */

footer {
	padding: 20px;
	/*margin-left: -105px;
	margin-right: -104px;*/
	background-color: dimgrey;
}
.contatos a {
	text-decoration: none;
}
.copyright {
	color: whitesmoke;
	padding: 20px;
	font-size: 13px;
	text-align: center;

}
.contatos {
	text-align: center;
	font-size: 13px;
	color: ghostwhite;
}
.contatos a:hover{
	text-decoration: underline;
}
/* port para mobile */

@media screen and (max-width: 480px) {
	.box {
		width: 480px;
		margin: 0 auto;
	}

	header{
		width: 100%;
		padding: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
	main {
		margin-left: 0px;
		margin-right: 0px;
	}
	footer {
		width: 91.5%;
		padding-top: 20px;
		margin-left: 0;
		margin-right: 0;
	}

	header div h1 {
		margin-left: 0px;
	}

	h1 img:hover{
	border: 20px outset #f2d027;
	border-radius: 10px;
	}

	nav {
		display: inline-block;
		position: static;
		margin-top: 0;
		margin-left: 0px;
		padding: 20px;
	}

	body {
		width: 100%;
	}
}