
/*.box {
	width: 1140px;
	margin: 0 auto;

}*/

/* cabeçario */

header {
	/*margin-left: -105px;
	margin-right: -104px;*/
	background-color: royalblue;
	padding: 40px;
	/*margin-top: -8px;*/
	text-align: center;
}

header div h1 {
	display: inline-block;
	/*margin-left: 460px;*/
}

h1 img {
	width: 250px;
	transition: 0.8s;
}

h1 img:hover{
	border: 0.1px outset #f2d027;
	border-radius: 10px;
}

nav {
	display: inline-block;
	padding: 20px;
	margin-left: 450px;
	margin-top: 10px;
	vertical-align: top;
	position: static;
	/*margin-left: 150px;*/
	text-align: right;
}

.nav {
	display: inline-block;
	margin: 10px;
	padding-top: 3px;
	border: 2px outset royalblue;
	border-radius: 10px;
}

.nav a {
	color: #f2d027;
	font-size: 18px;
	font-family: fantasy;
	text-decoration: none;
	padding: 10px;
	transition: 0.5s;


}
.nav a:hover {
	font-size: 20px;
}

/*meio*/

main {
	/*margin-left: -105px;
	margin-right: -104px;*/
	background-color: #f2d027;
	padding: 40px;
	
}

.checkbox {

	display: inline-block;
	margin-top: 20px;
}

#termo {
	margin-top: 20px;
}

form {
	margin-left: 160px;
}

form div input {
	background-color: #db3232;
	color: white;
	transition: 1s;
}

form div input:hover {
	background-color: #611515;
}

.texto-padrao {
	font-size: 20px;
	font-family: fantasy;
}

.input-padrao {
	width: 20%;
	display: block;
	margin: 10px 0;
	padding: 10px;
	border: 3px solid royalblue;
	border-radius: 10px;
}

#enviar {
	display: block;
	background-color: royalblue;
	margin-left: 20px;
	margin-top: 50px;
	padding: 10px;
	width: 15%;
	font-size: 25px;
	border: none;
	border-radius: 10px;
	transition: 1s;
}

#enviar:hover {
	transform: scale(1.2);
}

.propaganda {
	position: absolute;
	top: 65%;
	left: 70%;
}

.propaganda p img {
	width: 350px;
	transition: 1s;
}

.propaganda p img:hover {
	transform: scale(1.1);
}


/* rodapé */

footer {

	padding: 40px;
	margin-bottom: -7.5px;
	background-color: dimgrey;
	/*margin-left: -105px;
	margin-right: -104px;*/
}
.contatos a {
	text-decoration: none;
}
.copyright {
	color: whitesmoke;
	padding: 20px;
	font-size: 13px;
	text-align: center;

}
.contatos {
	text-align: center;
	font-size: 13px;
	color: ghostwhite;
}
.contatos a:hover{
	text-decoration: underline;
}

/* port para mobile */

@media screen and (max-width: 480px) {
	body {
		width: 480px;
		margin: 0 auto;
	}

	header{
		width: 100%;
		padding: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
	main {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		
	}
	footer {
		width: 83.5%;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0;

	}

	header div h1 {
		margin-left: 0px;
	}

	h1 img:hover{
	border: 20px outset #f2d027;
	border-radius: 10px;
	}

	nav {
		display: inline-block;
		position: static;
		margin-top: 0;
		margin-left: 0px;
		padding: 20px;
	}
	form {
		margin-left: 30px;
		padding: 20px;
	}
	.texto-padrao {
		font-size: 20px;
		font-family: fantasy;
	}

	.input-padrao {
		width: 60%;
		display: block;
		margin: 10px 0;
		padding: 10px;
		border: 3px solid royalblue;
		border-radius: 10px;
	}
	.checkbox {
		display: inline-block;
		margin-top: 20px;
	}

	#termo {
		margin-top: 20px;
	}

	#enviar {
		display: block;
		background-color: royalblue;
		margin-left: 20px;
		margin-top: 30px;
		padding: 10px;
		width: 50%;
		font-size: 25px;
		border: none;
		border-radius: 10px;
		transition: 1s;
	}

	.propaganda {
		width: 20%;
		position: static;
	}
	.propaganda img {
		margin-left: 150px;
		width: 220px;
	}
}

@media screen and (min-width: 1920px) {

	.propaganda {
		position: absolute;
		top: 45%;
		left: 70%;
	}

	.propaganda p img {
		width: 350px;
		transition: 1s;
	}

}