body, h2, label, input, button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

  /* Estilo do corpo */
body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

	/* cabeçario */

header {
	background-color:#e6e6e6;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 9rem;
}

	.nav {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fff;
	
}

	.nav-links {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

    .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FF4500; 
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .nav-links a:hover {
    background-color: #FFCC00; 
    color: #000000;
}

/*meio*/
.form-container {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 100%;
	max-width: 400px;
}

  /* Estilo do título */
h2 {
	margin-bottom: 20px;
	color: #333;
	text-align: center;
}

  /* Estilo dos rótulos */
label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	color: #333;
}

  /* Estilo dos campos de entrada */
input[type="text"], input[type="email"], input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 16px;
}

  /* Estilo do botão */
button {
	width: 100%;
	padding: 10px;
	background-color: #4F4F4F;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}



/* port para mobile */
@media (max-width: 768px) {
.container {
    padding: 0 10px;
}

.form-container {
    padding: 15px;
}

input[type="text"], input[type="email"], input[type="password"] {
    font-size: 14px;
}

button {
    font-size: 14px;
    padding: 8px;
}
}

@media (max-width: 480px) {
body {
    flex-direction: column;
    align-items: center;
}

.form-container {
    padding: 10px;
    margin-top: 10px;
}
}